:root {
  /* Base font sizes for different device headlines */
  --sd-headline-size-base-breakpoint00: 16px;
  --sd-headline-size-base-breakpoint01: 18px;
  --sd-headline-size-base-breakpoint02: 24px;
  --sd-headline-size-base: var(--sd-headline-size-base-breakpoint00); /* Default base size set for breakpoint00 */

  /* Scaling factors for font sizes across devices */
  --sd-headline-size-factor-breakpoint00: 1.125;
  --sd-headline-size-factor-breakpoint01: 1.2;
  --sd-headline-size-factor-breakpoint02: 1.250;
  --sd-headline-size-factor: var(--sd-headline-size-factor-breakpoint00); /* Default factor set for breakpoint00 */

  /* Computed font sizes using scaling factors */
  --sd-headline-size-xs: calc(var(--sd-headline-size-base));
  --sd-headline-size-s: calc(var(--sd-headline-size-xs) * var(--sd-headline-size-factor));
  --sd-headline-size-m: calc(var(--sd-headline-size-s) * var(--sd-headline-size-factor));
  --sd-headline-size-l: calc(var(--sd-headline-size-m) * var(--sd-headline-size-factor));
  --sd-headline-size-xl: calc(var(--sd-headline-size-l) * var(--sd-headline-size-factor));
  --sd-headline-size-2xl: calc(var(--sd-headline-size-xl) * var(--sd-headline-size-factor));

  /* Line height ratios for readability across devices */
  --sd-headline-line-height-ratio-breakpoint00: 1.5;
  --sd-headline-line-height-ratio-breakpoint01: 1.45;
  --sd-headline-line-height-ratio-breakpoint02: 1.4;
  --sd-headline-line-height-ratio: var(--sd-headline-line-height-ratio-breakpoint00); /* Default ratio set for breakpoint00 */

  /* Dampening factors to subtly adjust line heights - a value of 1 results in no effect */
  --sd-headline-line-height-factor-dampener-breakpoint00: 0.96;
  --sd-headline-line-height-factor-dampener-breakpoint01: 0.97;
  --sd-headline-line-height-factor-dampener-breakpoint02: 0.98;
  --sd-headline-line-height-factor-dampener: var(--sd-headline-line-height-factor-dampener-breakpoint00); /* Default dampener for breakpoint00 */

  /* Computed line heights using factors and base sizes */
  --sd-headline-line-height-factor: calc(var(--sd-headline-size-factor) * var(--sd-headline-line-height-factor-dampener));
  --sd-headline-line-height-base: calc(var(--sd-headline-size-base) * var(--sd-headline-line-height-ratio));

  --sd-headline-line-height-xs: var(--sd-headline-line-height-base);
  --sd-headline-line-height-s: calc(var(--sd-headline-line-height-xs) * var(--sd-headline-line-height-factor));
  --sd-headline-line-height-m: calc(var(--sd-headline-line-height-s) * var(--sd-headline-line-height-factor));
  --sd-headline-line-height-l: calc(var(--sd-headline-line-height-m) * var(--sd-headline-line-height-factor));
  --sd-headline-line-height-xl: calc(var(--sd-headline-line-height-l) * var(--sd-headline-line-height-factor));
  --sd-headline-line-height-2xl: calc(var(--sd-headline-line-height-xl) * var(--sd-headline-line-height-factor));

  
}

/* Utility classes for applying font sizes and line heights to headlines */
.sd-headline-size-xs {
  font-size: var(--sd-headline-size-xs);
  line-height: var(--sd-headline-line-height-xs);
}

.sd-headline-size-sm {
  font-size: var(--sd-headline-size-s);
  line-height: var(--sd-headline-line-height-s);
}

.sd-headline-size-md {
  font-size: var(--sd-headline-size-m);
  line-height: var(--sd-headline-line-height-m);
}

.sd-headline-size-lg {
  font-size: var(--sd-headline-size-l);
  line-height: var(--sd-headline-line-height-l);
}

.sd-headline-size-xl {
  font-size: var(--sd-headline-size-xl);
  line-height: var(--sd-headline-line-height-xl);
}

.sd-headline-size-2xl {
  font-size: var(--sd-headline-size-2xl);
  line-height: var(--sd-headline-line-height-2xl);
}
