:root {
  /* Base font sizes for different device headlines */
  --sd-headline-size-base-breakpoint00: 16px;
  --sd-headline-size-base-breakpoint01: 18px;
  --sd-headline-size-base-breakpoint03: 24px;
  /* Scaling factors for font sizes across devices */
  --sd-headline-size-factor-breakpoint00: 1.125;
  --sd-headline-size-factor-breakpoint01: 1.2;
  --sd-headline-size-factor-breakpoint02: 1.250;
  /* Line height ratios for readability across devices */
  --sd-headline-line-height-ratio-breakpoint00: 1.5;
  --sd-headline-line-height-ratio-breakpoint01: 1.45;
  --sd-headline-line-height-ratio-breakpoint02: 1.4;
  /* Dampening factors to subtly adjust line heights */
  --sd-headline-line-height-factor-dampener-breakpoint00: 0.95;
  --sd-headline-line-height-factor-dampener-breakpoint01: 0.95;
  --sd-headline-line-height-factor-dampener-breakpoint02: 0.95;

  /* Media queries for breakpoint01 */
  @media (width >= 768px) {
    --sd-headline-size-base: var(--sd-headline-size-base-breakpoint01);
    --sd-headline-size-factor: var(--sd-headline-size-factor-breakpoint01);

    --sd-headline-line-height-ratio: var(--sd-headline-line-height-ratio-breakpoint01);
    --sd-headline-line-height-factor-dampener: var(--sd-headline-line-height-factor-dampener-breakpoint01);
  }

  /* Media queries for breakpoint02 */
  @media (width >= 1024px) {
    --sd-headline-size-base: var(--sd-headline-size-base-breakpoint02);
    --sd-headline-size-factor: var(--sd-headline-size-factor-breakpoint02);

    --sd-headline-line-height-ratio: var(--sd-headline-line-height-ratio-breakpoint02);
    --sd-headline-line-height-factor-dampener: var(--sd-headline-line-height-factor-dampener-breakpoint02);
  }


}
