/* Define root-level custom properties for responsive heading sizes */

:root {	
	
	/* bodycopy font size s */
	--bodycopy-l-font-size: 18px;
  --bodycopy-m-font-size: 16px;
  --bodycopy-s-font-size: 14px;
  --bodycopy-xs-font-size: 12px;
	

  /* Base heading font size for smaller screens */
  @media (max-width: 800px) {
    --heading--base-size: 16px;
    --heading--scale-factor: 1.125;
  }

  /* Base heading font size for medium-sized screens */
  @media (min-width: 801px) and (max-width: 1079px) {
    --heading--base-size: 18px;
    --heading--scale-factor: 1.2;
  }
  
  /* Base heading font size for larger screens */
  @media (min-width: 1080px) {
    --heading--base-size: 30px;
    --heading--scale-factor: 1.2;
  }
  
  /* Apply font sizes to different heading levels */
  --heading6--font-size: var(--heading--base-size);
  --heading5--font-size: calc(var(--heading6--font-size) * var(--heading--scale-factor));
  --heading4--font-size: calc(var(--heading5--font-size) * var(--heading--scale-factor));
  --heading3--font-size: calc(var(--heading4--font-size) * var(--heading--scale-factor));
  --heading2--font-size: calc(var(--heading3--font-size) * var(--heading--scale-factor));
  --heading1--font-size: calc(var(--heading2--font-size) * var(--heading--scale-factor));
	
}

/* Apply heading sizes using custom properties */
.heading06 {  font-size: var(--heading6--font-size);}
.heading05 {  font-size: var(--heading5--font-size);}
.heading04 {  font-size: var(--heading4--font-size);}
.heading03 {  font-size: var(--heading3--font-size);}
.heading02 {  font-size: var(--heading2--font-size);}
.heading01 {  font-size: var(--heading1--font-size);}
/* Apply bodycopy sizes using custom properties */
.bodycopy-l {  font-size: var(--bodycopy-l-font-size);}
.bodycopy-m {  font-size: var(--bodycopy-m-font-size);}
.bodycopy-s {  font-size: var(--bodycopy-s-font-size);}
.bodycopy-xs {  font-size: var(--bodycopy-xs-font-size);}
